header {
    display: flex;
    background-image:linear-gradient(to right, blue, red);
    justify-content: center;
    color: aliceblue;
    font-weight: bold;
    height: 75px;
    align-items: center;
    font-size: 25pz;
}

.input-group {
    flex-direction: column;;
    height: 100%;
}

main {
    flex-direction: column;
    
}

.icon {
    height: 100px;
    width:100px;
    background-repeat: no-repeat;
}

#uv {
    color: white;
    width: 80px;
}